.auth-form {
  display: flex;
  position: relative;
  z-index: 100;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 600px;
  border-radius: 10px;
  padding: 40px 50px;
  box-shadow: 0 2px 4px 0 rgb(128, 128, 128);

  .input {
    margin-bottom: 10px;
    width: 100%;

    input {
      width: 100%;
    }
  }

  .button {
    button {
      width: 100%;
      padding: 15px 20px;
    }
  }

  &__hr {
    border: none;
    border-bottom: 1px solid $colorLightGrey;
    margin: 20px 0;
  }

  &__title {
    margin-bottom: 15px;

    h1 {
      margin: 0;
    }
  }

  &__checkbox {
    margin-top: 15px;
  }

  &__link {
    text-align: center;
    margin-top: 30px;
  }

  .authError, .authActivateWarn {
    margin-top: 30px;
  }
}