@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ButtonIcon($color) {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  transition: background-color $animationDuration;
  cursor: pointer;

  &:hover {
    background-color: $color;
  }
}

@mixin OnHoverColor($color) {
  transition: color $animationDuration;
  cursor: pointer;

  &:hover {
    color: $color;
  }
}

@mixin Shadow {
  box-shadow: 0 0 2px 0 $colorShadow;
}

@mixin Input($color) {
  outline: none;
  border: 1px solid $colorLightGrey;
  border-radius: 3px;
  transition: $animationDuration;

  &:hover {
    outline: 1px solid $colorLightPrimary;
  }

  &:focus {
    outline: 1px solid $color;
  }
}

@mixin ButtonFill($color) {
  border: 1px solid $color;
  background-color: $color;
  cursor: pointer;
  font-weight: normal;
  border-radius: 3px;
  transition: $animationDuration;

  path {
    color: $colorWhite;
    transition: $animationDuration;
  }

  &:hover {
    background-color: $color;
    opacity: 0.8;
  }

  &:active {
    background-color: $color;
    opacity: 0.9;
  }
}

@mixin ButtonOutline($color) {
  border: 1px solid $color;
  background-color: $colorWhite;
  color: $color;
  cursor: pointer;
  font-weight: normal;
  border-radius: 3px;
  transition: $animationDuration;

  path {
    color: $color;
    transition: $animationDuration;
  }

  &:hover {
    background-color: $color;
    opacity: 0.8;
    color: $colorWhite;

    path {
      color: $colorWhite;
    }
  }

  &:active {
    background-color: $color;
    opacity: 0.9;
  }
}