$colorRed: #dc3545;
$colorOrange: rgb(255, 115, 0);
$colorLightRed: rgb(255, 200, 200);
$colorDarkYellow: rgb(255, 243, 192);
$colorBlack: rgb(33, 33, 33);
$colorLightGrey: rgb(225, 225, 225);
$colorDarkGrey: rgb(59, 59, 59);
$colorWhite: white;

$colorPrimary: #0d6efd;
$colorViolet: #6133b4;
$colorLightPrimary: rgb(141, 179, 255);

$colorShadow: rgb(155, 155, 158);

$headerHeight: 110px;
$paddingEdge: 80px;
$headerPaddingTopAndBottom: 16px;
$fonsSizeIcons: 2rem;
$animationDuration: 0.15s
