$colorOrange: rgb(255, 115, 0);
$colorBlack: rgb(33, 33, 33);
$colorLightGrey: rgb(225, 225, 225);

$colorShadow: rgb(155, 155, 158);

$headerHeight: 50px;
$paddingEdge: 30px;
$headerPaddingTopAndBottom: 16px;
$fonsSizeIcons: 2rem;
$animationDuration: 0.2s
