@font-face {
  font-family: 'RubikLight';
  src: url('../../public/fonts/Rubik-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'RubikRegular';
  src: url('../../public/fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RubikBold';
  src: url('../../public/fonts/Rubik-Bold.ttf') format('truetype');
}
