.header {
  padding: $headerPaddingTopAndBottom $paddingEdge;
  height: $headerHeight;
  display: flex;
  justify-content: space-between;
  @include Shadow;

  &__section {
    display: flex;
    align-items: center;
  }

  .header-menu-item {
    font-size: 1.3rem;
    margin: 0 10px;
  }

  .header-menu {
    margin-left: 17px;
    margin-bottom: -5px;
  }

  .logo {
    margin-right: 5px;
  }
}