.storage-sorter-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color $animationDuration;
  font-size: 0.87rem;

  &:hover {
    color: $colorOrange;

    .icon {
      path {
        color: $colorOrange;
      }
    }
  }

  .icon {
    transition: all $animationDuration;
    margin-left: 5px;
    font-size: 1.05rem;
  }

  .icon.up {
    transform: rotate(180deg);
  }

  .icon.down {
    transform: rotate(0deg);
  }
}