.storage-sorter {
  display: grid;
  position: sticky;
  top: 90px;
  border-bottom: 1px solid $colorLightGrey;
  background-color: $colorWhite;
  z-index: 100;
  grid-gap: 10px;
  grid-template-columns: 1fr 180px 180px 180px;

  &__name, &__owner, &__date, &__size {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color $animationDuration;

    &:hover {
      color: $colorOrange;

      .icon {
        path {
          color: $colorOrange;
        }
      }
    }
  }

  .icon {
    margin-left: 5px;
    font-size: 1.1rem;
  }
}