.button {

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    color: $colorWhite;
    font-size: 1rem;
  }

  &__icon {
    @include flex-center;
    margin-right: 6px;
  }

  &__button.fill.orange {
    @include ButtonFill($colorOrange);
  }

  &__button.fill.primary {
    @include ButtonFill($colorPrimary);
  }

  &__button.outline.orange {
    @include ButtonOutline($colorOrange);
  }

  &__button.outline.primary {
    @include ButtonOutline($colorPrimary);
  }

  &__button.disable {
    background-color: rgb(175, 175, 175) !important;
    border: 1px solid rgb(175, 175, 175) !important;

    &:hover {
      opacity: 1 !important;
    }
  }

  &__button.rounded {
    border-radius: 40px !important;
  }
}