.checkbox {
  height: 25px;
  display: flex;
  align-items: center;

  &__label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  &__textfild {
    display: none;
  }

  &__text {
    margin-left: 10px;
    height: 100%;
    margin-bottom: -1px
  }

  &__square {
    @include flex-center;
    transition: outline $animationDuration;
    height: 20px;
    width: 20px;
    border: 1px solid $colorLightGrey;
    border-radius: 3px;
  }

  &__square.active {
    outline: 1px solid $colorPrimary;
  }
}
