.input {
  position: relative;
  cursor: text;
  margin-top: 20px;

  &__textfild {
    @include Input($colorPrimary);
    padding: 15px 6px;
    padding-left: 20px;
    font-size: 1.1rem;
  }

  &__icon {
    height: 100%;
    position: absolute;
    @include flex-center;
    left: 15px;
    font-size: 1.4rem;

    path {
      color: $colorDarkGrey;
    }
  }

  &__placeholder {
    position: absolute;
    top: 15px;
    left: 30px;
    color: $colorDarkGrey;
    display: flex;
    align-items: center;
    background-color: $colorWhite;
    padding: 1px 5px;
  }

  &__valid-error {
    top: -10px;
    right: 20px;
    background-color: $colorWhite;
    position: absolute;
    color: $colorRed;
    padding: 1px 5px;
    font-size: 0.9rem;
  }
}

.input__icon:hover .input__textfild, .input__placeholder:hover .input__textfild {
  outline: 1px solid $colorLightPrimary;
}

.input.icon {
  .input__textfild {
    padding-left: 50px;
  }

  .input__placeholder {
    left: 50px;
  }
}

.input.error {
  .input__textfild {
    outline: 1px solid $colorRed;
  }
}

