.link {
  display: inline-block;
  text-decoration: none;
  color: $colorPrimary;
  padding-bottom: 1px;
  border-bottom: 1px solid $colorPrimary;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid $colorWhite;
  }
}