.change-password-form {
  &__container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__hr {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid $colorLightGrey;
  }
}