.storage-aside {
  padding-top: 10px;
  position: sticky;
  grid-row: 2 / span 3;
  top: 105px;
  height: calc(100vh - 110px);
  border-radius: 5px;

  &__create {
    .button {
      &__button {
        width: 180px;
        align-items: center;
        height: 45px;
        padding: 0 30px;
      }

      &__icon {
        font-size: 1.2rem;
        margin-right: 10px;
      }
    }
  }
}