.storage-aside-menu-item {
  &__link {
    display: flex;
    align-items: center;
    padding: 8px 5px;
    cursor: pointer;
    text-decoration: none;
    transition: color $animationDuration;

    &:hover {
      color: $colorOrange;
    }
  }

  &__icon {
    margin-right: 10px;

    svg {
      font-size: 1.3rem;
      transition: color $animationDuration;
    }
  }
}

.storage-aside-menu-item__link.active {
  color: $colorOrange;

  .icon {
    path {
      color: $colorOrange;
    }

    line {
      color: $colorOrange;
    }
  }
}