.storage-aside {
  position: sticky;
  margin-top: -25px;
  grid-row: 2 / span 3;
  top: 105px;
  height: 440px;
  border-radius: 5px;
  z-index: 150;

  &__create {
    position: relative;
    padding-right: 20px;

    .button {
      &__button {
        width: 100%;
        align-items: center;
      }

      &__icon {
        font-size: 1.1rem;
        margin-right: 10px;
      }
    }
  }
}